.fruit-card {
  max-width: 25.6rem;
}

.fruit-image {
  object-fit: cover;
  height: 18rem;
}

.fruit-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  > * {
    font-size: 1.5rem;
  }
}